.about{
    height: 100%;
    padding-left: 15%;
    padding-top: 7%;
    animation: fadeIn 0.5s ease-in 0.7s backwards;
    .text{
        .slide-in{
            display: inline-block;
            animation: backInDown 1.2s ease-out 1.8s backwards;
        }
        p {
            max-width: 60ch;
            margin: 1.2rem 0;
        }
        a {
            margin-right: 0.5rem;
        }
    }
}