#app {
    height: 100vh
}

.dark-center {
    background: radial-gradient($centeredRadial,$darkmode-radial);
    color: $white
}
  
.dark-right {
    background: radial-gradient($rightRadial,$darkmode-radial);
    color: $white
}
  
.dark-left {
    background: radial-gradient($leftRadial,$darkmode-radial);
    color: $white
}
  
.light-center {
    background: radial-gradient($centeredRadial,$lightmode-radial);
    color: $black
}

.light-right {
    background: radial-gradient($rightRadial,$lightmode-radial);
    color: $black
}

.light-left {
    background: radial-gradient($leftRadial,$lightmode-radial);
    color: $black
}