.blob-list {
    list-style-type: none;
    position: absolute;
    top: 0;
    height: 100%;

    .list-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4vw;
        position: absolute;
    }
}