.blob-list {
    list-style-type: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    .list-item{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transition: 0.5s ease;
        transform: translateX(-50%) translateY(-50%);
        cursor: pointer;
        .blob-text{
            position: absolute;
            font-size: $paragraph-xs;
            color: $black;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }
}