header {
    padding: 2.5% 8%;
    display: flex;
    justify-content: space-between;

    .slide-out {
        animation: zoomOutUp 0.8s ease-out 1.2s forwards;
    }
    .hide {
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    header {
        h1 {
            transition: 1s ease;;
        }
    }
    .center-header {
        padding: 8%;
        flex-direction: column-reverse;
        text-align: center;
    }
    .left-header, .right-header {
        padding: 8%;
        h1 {
            font-size: $heading-l;
        }
        h2 {
            display: none;
        }
    }
}