.nav-button {
    background-color: transparent;
    border: none;
    margin: 10rem;
}

.nav-arrow-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.arrow {
    position: relative;
    path {
        transition: 1.2s ease-in;
    }
}

.left-arrow {animation: pulseLeft 1s ease infinite alternate-reverse}
.right-arrow {animation: pulseRight 1s ease infinite alternate-reverse}
