.switches-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.switch-background {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    border-radius: 50px;
    width: 80px;
    p {
        font-size: $paragraph-xs;
        color: rgba(255, 255, 255, 0.7);
    }
    img {
        height: 25px
    }
}

.switch-on {
    background: linear-gradient($warm-gradient);
    flex-direction: row-reverse;
    p {
        margin-left: 10px;
        margin-right: 7px;
    }
}

.switch-off {
    background: linear-gradient($cold-gradient);
    flex-direction: row;
    p {
        margin-left: 7px;
        margin-right: 10px;
    }
}