.switches-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
}

[role='switch'] {
    width: 80px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    position: relative;
    border-radius: 50px;
    border: none;
    background: linear-gradient($cold-warm-gradient);
    background-size: 400%;
    background-position: left;
    transition: 0.2s ease;
   
    .text {
        font-size: $paragraph-xs;
        position: absolute;
        left: 8px;
        color: $white-glass;
    }
    .slider {
        height: 26px;
        position: absolute;
        cursor: pointer;
        right: 2px;
        transition: 0.4s ease;
    }
}

[role='switch'][aria-checked='true'] {
    background-position: right;

    .text {
        right: 8px;
        left: auto;
    }
    .slider {
        transform: translateX(-50px);
    }
}