@keyframes pulseLeft {
    from {
        left: 0;
        height: 5.75rem;
        width: 5.75rem;
    }
    to {
        left: 10px;
        height: 6.25rem;
        width: 6.25rem;
    }
}

@keyframes pulseRight {
    from {
        right: 0;
        height: 5.75rem;
        width: 5.75rem;
    }
    to {
        right: 10px;
        height: 6.25rem;
        width: 6.25rem;
    }
}

@keyframes pulseLeftMobile {
    from {
        left: 0;
        height: 4rem;
        width: 4rem;
    }
    to {
        left: 5px;
        height: 5rem;
        width: 5rem;
    }
}

@keyframes pulseRightMobile {
    from {
        right: 0;
        height: 4rem;
        width: 4rem;
    }
    to {
        right: 5px;
        height: 5rem;
        width: 5rem;
    }
}

@keyframes brainFly {
    from {bottom: 0}
    to {bottom: 10px}
}

@keyframes brainShadow {
    from {
        width: 280px;
        box-shadow: 0px 0px 5px 10px rgba(32, 32, 32, 20);
    }
    to {
        width: 300px;
        box-shadow: 0px 0px 10px 10px rgba(32, 32, 32, 20);
    }
}

@keyframes brainShadowMobile {
    from {
        width: 180px;
        box-shadow: 0px 0px 5px 10px rgba(32, 32, 32, 20);
    }
    to {
        width: 230px;
        box-shadow: 0px 0px 10px 10px rgba(32, 32, 32, 20);
    }
}

@keyframes blobs {
    from {left: -5%}
    to {left: 100%}
}