$black: #323232;
$white: #FCFCFC;
$white-glass: rgba(255, 255, 255, 0.6);
$darkmode: radial-gradient(ellipse at bottom, #272E3D, #3B7B80);
$lightmode: radial-gradient(ellipse at bottom, #E2E2E2, #FFFFFF);
$warm-gradient: to right, #FDD961, #FEB02B;
$cold-gradient: to right, #009EFF, #0051A3;
$cold-warm-gradient: to right, #0051A3, #009EFF, #FDD961, #FEB02B; 
$heading-font: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$paragraph-font: 'Nunito Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$heading-xl: 2.25rem;
$heading-l: 1.5rem;
$heading-m: 1.25rem;
$heading-s: 1rem;
$paragraph-m: 1.125rem;
$paragraph-s: 1rem;
$paragraph-xs: 0.75rem;