@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:wght@400;600;700&display=swap");
@-webkit-keyframes pulseLeft {
  from {
    left: 0;
    height: 5.75rem;
    width: 5.75rem;
  }
  to {
    left: 10px;
    height: 6.25rem;
    width: 6.25rem;
  }
}
@keyframes pulseLeft {
  from {
    left: 0;
    height: 5.75rem;
    width: 5.75rem;
  }
  to {
    left: 10px;
    height: 6.25rem;
    width: 6.25rem;
  }
}

@-webkit-keyframes pulseRight {
  from {
    right: 0;
    height: 5.75rem;
    width: 5.75rem;
  }
  to {
    right: 10px;
    height: 6.25rem;
    width: 6.25rem;
  }
}

@keyframes pulseRight {
  from {
    right: 0;
    height: 5.75rem;
    width: 5.75rem;
  }
  to {
    right: 10px;
    height: 6.25rem;
    width: 6.25rem;
  }
}

@-webkit-keyframes pulseLeftMobile {
  from {
    left: 0;
    height: 4rem;
    width: 4rem;
  }
  to {
    left: 5px;
    height: 5rem;
    width: 5rem;
  }
}

@keyframes pulseLeftMobile {
  from {
    left: 0;
    height: 4rem;
    width: 4rem;
  }
  to {
    left: 5px;
    height: 5rem;
    width: 5rem;
  }
}

@-webkit-keyframes pulseRightMobile {
  from {
    right: 0;
    height: 4rem;
    width: 4rem;
  }
  to {
    right: 5px;
    height: 5rem;
    width: 5rem;
  }
}

@keyframes pulseRightMobile {
  from {
    right: 0;
    height: 4rem;
    width: 4rem;
  }
  to {
    right: 5px;
    height: 5rem;
    width: 5rem;
  }
}

@-webkit-keyframes brainFly {
  from {
    bottom: 0;
  }
  to {
    bottom: 10px;
  }
}

@keyframes brainFly {
  from {
    bottom: 0;
  }
  to {
    bottom: 10px;
  }
}

@-webkit-keyframes brainShadow {
  from {
    width: 280px;
    -webkit-box-shadow: 0px 0px 5px 10px #202020;
            box-shadow: 0px 0px 5px 10px #202020;
  }
  to {
    width: 300px;
    -webkit-box-shadow: 0px 0px 10px 10px #202020;
            box-shadow: 0px 0px 10px 10px #202020;
  }
}

@keyframes brainShadow {
  from {
    width: 280px;
    -webkit-box-shadow: 0px 0px 5px 10px #202020;
            box-shadow: 0px 0px 5px 10px #202020;
  }
  to {
    width: 300px;
    -webkit-box-shadow: 0px 0px 10px 10px #202020;
            box-shadow: 0px 0px 10px 10px #202020;
  }
}

@-webkit-keyframes brainShadowMobile {
  from {
    width: 180px;
    -webkit-box-shadow: 0px 0px 5px 10px #202020;
            box-shadow: 0px 0px 5px 10px #202020;
  }
  to {
    width: 230px;
    -webkit-box-shadow: 0px 0px 10px 10px #202020;
            box-shadow: 0px 0px 10px 10px #202020;
  }
}

@keyframes brainShadowMobile {
  from {
    width: 180px;
    -webkit-box-shadow: 0px 0px 5px 10px #202020;
            box-shadow: 0px 0px 5px 10px #202020;
  }
  to {
    width: 230px;
    -webkit-box-shadow: 0px 0px 10px 10px #202020;
            box-shadow: 0px 0px 10px 10px #202020;
  }
}

@-webkit-keyframes blobs {
  from {
    left: -5%;
  }
  to {
    left: 100%;
  }
}

@keyframes blobs {
  from {
    left: -5%;
  }
  to {
    left: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1.125rem;
}

button {
  cursor: pointer;
}

button:focus {
  outline: thin dotted;
}

main {
  position: relative;
}

.dark {
  background: radial-gradient(ellipse at bottom, #272E3D, #3B7B80);
  background-size: 200%;
  color: #FCFCFC;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.dark .arrow path {
  fill: rgba(255, 255, 255, 0.6);
}

.dark .portfolio-grid .links {
  background: radial-gradient(ellipse at bottom, #cccccc, #FFFFFF);
}

.dark .portfolio-grid .links a {
  color: #323232;
}

.dark .about .text span {
  background: -webkit-gradient(linear, left top, right top, from(#FDD961), to(#FEB02B));
  background: linear-gradient(to right, #FDD961, #FEB02B);
  color: transparent;
  background-clip: text;
}

.light {
  background: radial-gradient(ellipse at bottom, #cccccc, #FFFFFF);
  background-size: 400%;
  color: #323232;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.light .arrow path {
  fill: #323232;
}

.light .portfolio-grid .links {
  background: radial-gradient(ellipse at bottom, #272E3D, #3B7B80);
}

.light .portfolio-grid .links a {
  color: #FCFCFC;
}

.light .about .text span {
  background: -webkit-gradient(linear, left top, right top, from(#009EFF), to(#0051A3));
  background: linear-gradient(to right, #009EFF, #0051A3);
  color: transparent;
  background-clip: text;
}

.center {
  background-position: center;
}

.left {
  background-position: left;
}

.right {
  background-position: right;
}

#app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#app main {
  padding: 0 8%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header {
  padding: 2.5% 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .slide-out {
  -webkit-animation: zoomOutUp 0.8s ease-out 1.2s forwards;
          animation: zoomOutUp 0.8s ease-out 1.2s forwards;
}

header .hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 8%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

.switches-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

[role='switch'] {
  width: 80px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 50px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#0051A3), color-stop(#009EFF), color-stop(#FDD961), to(#FEB02B));
  background: linear-gradient(to right, #0051A3, #009EFF, #FDD961, #FEB02B);
  background-size: 400%;
  background-position: left;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

[role='switch'] .text {
  font-size: 0.75rem;
  position: absolute;
  left: 8px;
  color: rgba(255, 255, 255, 0.6);
}

[role='switch'] .slider {
  height: 26px;
  position: absolute;
  cursor: pointer;
  right: 2px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

[role='switch'][aria-checked='true'] {
  background-position: right;
}

[role='switch'][aria-checked='true'] .text {
  right: 8px;
  left: auto;
}

[role='switch'][aria-checked='true'] .slider {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@media only screen and (max-width: 768px) {
  .switches-container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 1rem;
  }
  .switches-container .music-btn {
    display: none;
  }
}

.brain-wrapper {
  border: none;
  background-color: transparent;
  cursor: unset;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  z-index: 2;
}

.brain-wrapper .brain-img {
  max-height: 470px;
  position: relative;
}

.brain-wrapper .brain-shadow {
  margin-top: 30px;
  background-color: black;
  opacity: 0.08;
  width: 280px;
  height: 35px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 5px 10px #202020;
          box-shadow: 0px 0px 5px 10px #202020;
}

.brain-center {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.brain-center .brain-img {
  -webkit-animation: brainFly 2s ease infinite alternate;
          animation: brainFly 2s ease infinite alternate;
}

.brain-center .brain-shadow {
  -webkit-animation: brainShadow 2s ease infinite alternate;
          animation: brainShadow 2s ease infinite alternate;
}

.brain-left {
  left: 100%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.brain-right {
  left: 0%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media only screen and (max-width: 768px) {
  .brain-wrapper .brain-img {
    max-height: 300px;
  }
  .brain-wrapper .brain-shadow {
    width: 180px;
    -webkit-animation: brainShadowMobile 2s ease infinite alternate;
            animation: brainShadowMobile 2s ease infinite alternate;
  }
}

.nav-button {
  background-color: transparent;
  border: none;
}

.nav-arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 6rem;
}

.arrow {
  position: relative;
}

.arrow path {
  -webkit-transition: 1.2s ease-in;
  transition: 1.2s ease-in;
}

.left-arrow {
  animation: pulseLeft 1s ease infinite alternate-reverse;
}

.right-arrow {
  animation: pulseRight 1s ease infinite alternate-reverse;
}

@media only screen and (max-width: 768px) {
  .nav-arrow-container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
    padding-bottom: 2rem;
  }
  .nav-arrow-container .left-arrow {
    animation: pulseLeftMobile 1s ease infinite alternate-reverse;
  }
  .nav-arrow-container .right-arrow {
    animation: pulseRightMobile 1s ease infinite alternate-reverse;
  }
}

.portfolio-grid {
  margin-top: 1rem;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  max-width: 55%;
  -ms-grid-columns: (minmax(150px, 33%))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 33%));
  grid-auto-rows: auto;
  -webkit-animation: fadeIn 0.5s ease-in 0.7s backwards;
          animation: fadeIn 0.5s ease-in 0.7s backwards;
}

.portfolio-grid .box {
  overflow: hidden;
  position: relative;
}

.portfolio-grid .info-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.6);
  color: #323232;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.portfolio-grid .info-wrapper .text {
  padding: 8%;
  padding-bottom: 0;
}

.portfolio-grid .info-wrapper .title {
  margin-bottom: 1rem;
}

.portfolio-grid .info-wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4% 8%;
}

.portfolio-grid img {
  height: 100%;
  width: 100%;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.about {
  height: 100%;
  -webkit-animation: fadeIn 0.5s ease-in 0.7s backwards;
          animation: fadeIn 0.5s ease-in 0.7s backwards;
}

.about .text {
  margin-left: 15%;
  margin-top: 7%;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}

.about .text .slide-in {
  display: inline-block;
  -webkit-animation: backInDown 1.2s ease-out 1.8s backwards;
          animation: backInDown 1.2s ease-out 1.8s backwards;
}

.about .text p {
  max-width: 60ch;
  margin: 1.2rem 0;
}

.about .text a {
  margin-right: 0.5rem;
}

.about .text a :hover {
  -webkit-animation: swing 1s ease;
          animation: swing 1s ease;
}

.about .blob-list {
  list-style-type: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.about .blob-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  z-index: 0;
}

.about .blob-list .list-item .blob-text {
  position: absolute;
  font-size: 0.75rem;
  color: #323232;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */