@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #323232;
  --white: #FCFCFC;
  --lightmode-radial:  #EAEAEA 0%, #FFFFFF 100%;
  --darkmode-radial: #272E3D 0%, #3B7B80 100%;
  --warm-gradient: #FDD961 0%, #FEB02B 100%;
  --cold-gradient: #009EFF 0%, #0051A3 100%;
  --heading-font: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --paragraph-font: 'Nunito Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --heading-xl: 2.25rem;
  --heading-l: 1.5rem;
  --heading-m: 1.25rem;
  --heading-s: 1rem;
  --paragraph-m: 1.125rem;
  --paragraph-s: 1rem;
  --paragraph-xs: 0.75rem;
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  filter: blur(25px);
}

body {
  font-family: var(--paragraph-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {font-family: var(--heading-font)}

h1 {font-size: var(--heading-xl)}
h2 {font-size: var(--heading-l)}
h3 {font-size: var(--heading-m)}
h4 {font-size: var(--heading-s)}

p {
  font-family: var(--paragraph-font);
  font-size: var(--paragraph-m);
}