.dark {
    background: $darkmode;
    background-size: 400%;
    color: $white;
    transition: 1s ease;
    .arrow {
        path {fill: $white-glass}
    }
    .portfolio-grid{
        .links {
            background: linear-gradient($warm-gradient);
            a {
                color: $black;
            }
        }
    }
}

.light {
    background: $lightmode;
    background-size: 400%;
    color: $black;
    transition: 1s ease;
    .arrow {
        path {fill: $black}
    }
    .portfolio-grid{
        .links {
            background: $darkmode;
            a {
                color: $white;
            }
        }
    }
}


.center {background-position: center}
.left {background-position: left}
.right {background-position: right}
